@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url('images/background1.jpg');
}

.card {
    list-style: none;
    background-color: hsl(0, 0%, 95%);
    padding: 40px;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 575;
}

.card-subtitle {
    background-color: hsl(25, 98%, 57%);
    padding: 10px;
    padding-right: 0;
    margin: 10px 0;
    margin-right: 100px;
}